body {
    font-family: Arial, Helvetica, sans-serif;
}
h1, h2 {
    color: rgb(0, 141, 7);
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 25px;
}

.main-text {
    text-align: justify;
}

.author-name {
    font-size: 22px;
}