body {
    font-family:sans-serif;
}

h1 {
    text-align: center;
}

#container {
    background-color: #003049;
    width: 90%;
    height: 500px;
    margin: 0 auto;
    border: 5px solid #003049;
    display: flex;
    flex-direction: row;
    justify-content: center;            /* Aligns items in the flex box direction - row */
    flex-wrap: wrap;                /* To change the direction of corss axis*/
    align-items: flex-start;                  /* Aligns items in the oppoiste to flex box direction - column */
    /* align-content: center; */     /* Spacing between the contents in the main axis - Useful only with flex-wrap attribute */   
}

#container div {
    width: 200px;
    height: 200px;
}

div:nth-of-type(3) {
    align-self: center;
}
